*
!.gitignore
!docs
!config
!workflow
!workflow/scripts
!workflow/envs
!workflow/rules
!config/*
!workflow/*
!pipeline_env.yaml
!README.md
!workflow/scripts/*
!workflow/envs/*
!workflow/rules/*
!docs/*
!mkdocs.yml
!.readthedocs.yaml
!docs/images
!docs/images/*
!docs/intro
!docs/intro/*
!docs/output
!docs/output/*
!docs/faqs
!docs/faqs/*
!docs/configuration
!docs/configuration/*
!docs/architecture
!docs/architecture/*
!.snakemake-workflow-catalog.yml
!.test/data/*
!.test/config_ChIP/*
!.test/config_PROseq/*
!.github/*
!docs/bam2bakR
!docs/proseq
!docs/aligner
!docs/bam2bakR/*
!docs/proseq/*
!docs/aligner/*